*.fasta
*.fa
*.gbk
*.gff
*.gz
*.xml
*.log
*.bin
*.sbgn
*.reads
*.files
*.array
*.reads
*.tab
*.sam
*.bam
*.vcf
*.summary
*.tmp
/Papers
/iplot_imgs
/ipywidgets_New
results/old_results/*
dokdonia/old_code/*