*.fasta
*.fa
*.gbk
*.gff
*.gz
*.xml
*.log
*.bin
*.sbgn
*.reads
*.files
*.array
*.reads
*.tab
*.sam
*.bam
*.vcf
*.summary
*.tmp
/Papers
/iplot_imgs
/ipywidgets_New
results/old_results/*
dokdonia/old_code/*
cluster_plots/*
deseq2_TC_figs/*
deseq2_Zscores_TC_figs/*
results_DS2_Z/*
results/clust/*
paper_figures/*
data/old_data/*
data/genome/annotations/*